##### Question 1 Find The Octal Number of The given Decimal Number

##### Answer 1

In [1]:
d = int(input("Enter a Number"))

Enter a Number8

In [2]:
print("Octal Number of decimal no %d is %o"%(d,d))

Octal Number of decimal no 8 is 10

In [3]:
d = int(input("Enter a Number"))

Enter a Number8

In [4]:
print(f"Octal Number of decimal no {d} is {oct(d)}")

Octal Number of decimal no 8 is 0o10

##### Question 2 Check Whether a Given Number is Even or Odd.  (Print True or False).  Note: Without using if else.

##### Answer 2

In [5]:
num = int(input("Enter a Number"))
print(f"Is Given Number is Even? {eval('num%2==0')}")

Enter a Number10
Is Given Number is Even? True

##### Question 3 Which of the following string declarations span to more than one line and considers whitespace properly when the string is printed to the console?

In [6]:
# str1 = """Python is the best programming 
# language of this 
# planet earth """
# --------------------------------------------------------

# str1 ='Python is the best programming
# language of this
# planet earth'
# ---------------------------------------------------------
# str1= " Python is the best programming
# language of this
# planet earth
# "
# ---------------------------------------------------------
# str1= 'Python is the best programming \n
# language of this \n
# planet earth'
# --------------------------------------------------------
# str1 = """Python is the best programming \
# language of this \
# planet earth """

##### Answer 3

In [7]:
str1 = """Python is the best programming \
language of this \
planet earth """
print(str1)

Python is the best programming language of this planet earth

##### Question 4 If the user enters 54321 as input, Which of the following code will print 54322 to the console?

In [8]:
# count = input("Enter a number")
# print(int(count) + 1)
# ----------------------------------------------
# count = input("Enter a number")
# print(count + 1)
# ----------------------------------------------
# count = int(input("Enter a number"))
# print(count + 1)
# ----------------------------------------------
# count = eval(input("Enter a number"))
# print(count + 1)

##### Answer 4

In [9]:
count = eval(input("Enter a number"))
print(type(count))
#print(count + 1)

Enter a number54321
<class 'int'>

##### Question 5 Accept  three strings using only one input() function.

##### Answer 5

In [10]:
str1,str2,str3=input("Enter three strings seperated with space").split(' ')

Enter three strings seperated with spaceone two three

In [11]:
print(str1,str2,str3)

one two three

##### Question 6 Print the strings as per given format.

**Input**:

"Python" "Programming" "class" "By" "Priyang"

**Output**: 
``` 
Python**Programming**class**By**Priyang###
```

##### Answer 6

In [12]:
print("Python","Programming","class","By","Priyang",sep="**",end="###")

Python**Programming**class**By**Priyang###

##### 7 Consider the following code:

##### print(type(input('Enter some value:')))

##### if we enter 11,"abc" and 12.0 individually for every run what is the output?

##### Answer 7

In [13]:
print(type(input('Enter some value:')))

Enter some value:12.0
<class 'str'>

##### Question 8 Consider the following code:

##### print(type(eval(input('Enter some value:'))))

##### if we enter 11,"abc" and 12.0 individually for every run what is the output?

##### Answer 8

In [14]:
print(type(eval(input('Enter some value:'))))

Enter some value:12.0
<class 'float'>

##### Question 9
##### Consider The Below declarations:
##### a='7'
##### b='3'
##### Which of the following expressions are valid on the string?

##### a+b
##### a-b
##### a*b
##### a/b
##### a*2

##### Answer 9

In [15]:
a='7'
b='3'

In [16]:
a+b

'73'

In [17]:
a-b

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [18]:
a*b

TypeError: can't multiply sequence by non-int of type 'str'

In [19]:
a/b

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [20]:
a*2

'77'

##### Question 10 Create a program that asks the user to enter their name and their age.Print out a message that tells them the year that they will turn 100 years old.

##### Answer 10

In [21]:
2022 - 40 + 100

2082

In [22]:
name = input("Enter your name")
age = int(input("How old are you?"))
year = str((2022-age) + 100)
print(f"{name} will be 100 years old in the year {year}")

Enter your nameanil
How old are you?40
anil will be 100 years old in the year 2082

##### 11. Positional Vs. Keyword Arguments In the context of String Replacement Fields

##### Answer 11

In [23]:
name="anil"
age=40

In [24]:
print("{} is {} years old".format(name,age))

anil is 40 years old

In [25]:
print("{n} is {a} years old".format(a=age,n=name))

anil is 40 years old

In [26]:
print()